body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e2328;
  color: #c8aa6e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.status-bar {
  background-color: #1e2328;
  border: 1px solid #c8aa6e;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.status-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.status-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.status-item > span {
  width: calc(100% - 20px);
}

.connected {
  background-color: #4caf50;
}

.disconnected {
  background-color: #f44336;
}

.status-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background-color: #1e2328;
  color: #c8aa6e;
  border: 1px solid #c8aa6e;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

#google-btn {
  width: auto;
  padding: 5px 10px;
}

#google-btn > img {
  width: 20px;
  height: 20px;
}

#jwt-btn {
  /* width: auto; */
  padding: 20px 10px;
}
